html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("/assets/images/whitewaves.png");
    background-size: repeat;
    margin-bottom: 80px;
}    

.masthead {
    border: #cccccc solid 1px;
    background: #ffffff;
}

.navbar {
    padding: 0;
}

.navbar-nav{
    display: flex; 
    flex-flow: row nowrap;
}

.nav-item {
    
}

.brand-name {
    height: 100%;
    background: #4aaaa5;
    text-align: center;
    padding: 10px;
    margin: 0;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1.brandname {
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section {
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.section{
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

h2  {
    font-size: 32px;
    padding: 20px;
    margin: 10px;
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
}

.bio-image {
    float: left;
    width: 240px;
    height: 220px;
    padding-right: 20px;
    padding-left: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666666;
    color: #ffffff;
    border-top: 5px solid #4aaaa5;
    margin-top: 20px;
}

.pfooter {
    font-size: 10px;
    text-align: center;
}

.contact-btn {
    background-color: #4aaaa5;
    border: 1px solid #4aaaa5;
}

.card-body {
    background: #4aaaa5;
    text-align: center;
    color: #ffffff;
}


